
#max {
    width: 300px;
    height: 20px;
    background-color: antiquewhite;
    border-radius: 4px;
 
}
#min {
    width: 20%;
    height: 100%;
    background-color: aqua;
    border-radius: 4px;
   
}
button {
    margin-top: 10px;
    padding: 5px 10px;
   
}