*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}
.header{
    width: 500px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}
span{
    opacity: 2;
}
a {
    text-decoration: none;
    color: rgb(219, 93, 114);
}
