.toggle{
    background-color: black;
    color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    font-size: large;
    padding: 10px;
}

button{
    height: 25px;
    border-radius: 5px;
}

.light-mode {
    background-color: white;
    color: black;
}
