* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}
.caption{
    display: flex;
    padding: 20px;
    gap: 30px;
}
.caption .one{
    width: 60%;
}
.left{
    display: flex;
    width: 60%;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.right{
    width: 40%;
    background-color: #ebeef3;
    padding-top: 10px;
}
.container{
    display: flex;
    gap: 20px;
}
.boxing{
    display: flex;
    flex-direction: column;
    color: white;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://img.freepik.com/premium-photo/view-boxing-match-ring-generative-ai_667511-3646.jpg);
}
.backgroundboxing{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(to bottom, rgba(226, 193, 150, 1), rgba(226, 193, 150, 0.5));
    height: 200px;
    position: relative;
    top: 450px
}
.News{
    background-color: #ebeef3;
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-top: 10px;
}
.hots{
    display: flex;
    gap: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.News .button{
    text-align: center;
}
.News button{
    width: 170px;
    height: 50px;
    font-size: larger;
    border-radius: 10px;
    color: white;
    background-color: #b8c2ce;
    border: none;
}
.name{
    width: 40%;
}
.stats{
    display: flex;
    padding-left: 10px;
}
.details{
    width: 60%;
    display: flex;
    gap: 30px;
}
.Clubs_info{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 9px;
}
.memberclub{
    width: 100%;
    display: flex;
    padding-left: 10px;
}
.nameclub{
    width: 40%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.detailsclub{
    width: 60%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.item{
    opacity: 0;
}
button:hover{
    background-color: black;
    transition: transform 0.2s ease; 
    transform: scale(1.05);
}
img:hover{
    transition: transform 0.2s ease; 
    transform: scale(1.05);
}
.content .time{
    opacity: 0.5;
}
