* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 300px;
    padding: 20px;
    background: rgb(233, 243, 243);
    border-radius: 10px;
}

.Layer {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    border-radius: 5px;
    width: 260px;
    height: 40px;
}
button{
    width: 260px;
    height: 45px;
    background-color: rgb(36, 238, 238);
    border-radius: 5px;
}

.top{
    display: flex;
    flex-direction: column;
}