*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.align_top{
    text-align: right;
    
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: rgb(63, 216, 52);
}
form{
    background-color: white;

}
.center{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    flex-direction: column;
    background-color: rgb(223, 217, 221);
}
h1{
    font-size: 200%;
}
.Matte_text{
    opacity: o.5;
}
div p{
    height: 40px;
}
.button{
    background-color: aqua;
    width: 10%;
    border-radius: 10px;
    height: 5%;
}
.figure p{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select{
    background-color: rgb(223, 217, 221);
    width: 33.083%;
    border-radius: 5px;
    height: 30px;
}