.container {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
body{
    background-color: bisque;
}
.search {
    display: flex;
    justify-content: space-around;
}

input {
    width: 85%;
    height: 25px;
    border-radius: 5px;
}

.click-search {
    width: 10%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(13, 198, 13);
    color: white;
}

.content {
    width: 88%;
    display: flex;
    gap: 5px;
    justify-content: space-around;
}

img {
    width: 200px;
}

.member {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.buy {
    width: 50px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 1px;
    border-radius: 5px;
}


.buy:hover {
    background-color: #02ff3d;
    transform: scale(1.1);
}

.buy:active {
    background-color: #00ffee;
    transform: scale(0.95);
}
.member:hover{
    background-color: black;
    color: white;
    transform: scale(1.02);
}
img:hover{
    transform: scale(1.5);
    position: relative;
    top: 20px;
}
button:hover{
    transform: scale(1.02);
}
button:active{
    transform: scale(0.9);
}