
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 14cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.container .header {
    width: 100%;
    height: 0.8cm;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container .header img {
    width: 17px;
    height: 17px;
    border-radius: 20px;
    margin-left: 0.5cm;
}
.header i {
    color: white;
    width: 50px;
    display: none;
}

.header div {
    width: 150px;
    height: 0.5cm;
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    align-items: center;  
}

.header div span {
    width: 40px;
    height: 0.02cm;
    background-color: white; 
}
.an {
   display: none;
}
.body {
    width: 100%;
    height: 13cm;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.body .bodyhead {
    width: 98%;
    height: 4cm;
    background-color: blueviolet;
}
.body .contenttop {
    width: 98%;
    height: 2cm;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.body .contenttop div {
    width: 24%;
    height: 1.8cm;
    background-color: aqua;
}
.body .contentbotton {
    width: 98%;
    height: 3cm;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.body .contentbotton div {
    width: 48%;
    height: 2.7cm;
    background-color: aqua;
}
.body .footer {
    width: 98%;
    height: 4cm;
    background-color: blueviolet;
}
@media screen and (max-width: 550px){
    .container {
        width: 100%;
        height: 13cm;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
    }
    .container .header {
        width: 100%;
        height: 0.8cm;
        background-color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .container .header img {
        width: 17px;
        height: 17px;
        border-radius: 20px;
        margin-left: 0.5cm;
    }
    .header div {
        width: 170px;
        height: 0.5cm;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }
    .header div span {
        width: 40px;
        height: 0.02cm;
        background-color: white; 
    }
    .an {
        display: block;
    }
    .body {
        width: 100%;
        height: 12.5cm;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .body .bodyhead {
        width: 98%;
        height: 1.8cm;
        background-color: blueviolet;
    }
    .body .contenttop {
        width: 98%;
        height: 4cm;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .body .contenttop div {
        width: 44%;
        height: 1.9cm;
        background-color: aqua;
    }
    .body .contentbotton {
        width: 98%;
        height: 3cm;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .body .contentbotton div {
        width: 100%;
        height: 1.4cm;
        background-color: brown;
    }
    .body .footer {
        width: 98%;
        height: 1.8cm;
        background-color: blueviolet;
    }
    
}
@media screen and (max-width: 400px){
    .container {
        width: 100%;
        height: 11cm;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
    }
    .container .header {
        width: 100%;
        height: 0.8cm;
        background-color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .container .header img {
        width: 17px;
        height: 17px;
        border-radius: 20px;
        margin-left: 0.5cm;
    }
    .header div {
        width: 170px;
        height: 0.5cm;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }
    .header div span {
        width: 40px;
        height: 0.02cm;
        background-color: white;
        display: none; 
    }
    .header i {
        display: block;
    }
    
    .body {
        width: 100%;
        height: 10.5cm;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .body .bodyhead {
        width: 98%;
        height: 1.5cm;
        background-color: blueviolet;
    }
    .body .contenttop {
        width: 98%;
        height: 4cm;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .body .contenttop div {
        width: 100%;
        height: 0.9cm;
        background-color: aqua;
    }
    .body .contentbotton {
        width: 98%;
        height: 2.5cm;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .body .contentbotton div {
        width: 100%;
        height: 1.15cm;
        background-color: brown;
    }
    .body .footer {
        width: 98%;
        height: 1.5cm;
        background-color: blueviolet;
    }
    
}
