* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.sale,
.time_sale,
.biglogo,
.today,
.fashion,
.flas_sale,
.top_left,
.Left,.body_one,
.kk,
.zbody,
.member,
.list_sale,
.top_right,
.header,
.headline,
.navbar,
.navbar_left,
.navbar_right,
.search,
.search_left,
.option,
.logo,
.fill,
.shopnow,
.top,
.star,
.search_right {
    display: flex;
}

body {
    justify-content: center;
}

form {
    background-color: white;
    position: relative;
    width: 1440px;
}

.header {
    align-items: center;
    width: 1440px;
    height: 48px;
    color: white;
    background-color: black;
}

.headline {
    position: relative;
    left: 445px;
    width: 859px;
    height: 24px;
    align-items: center;
    justify-content: space-between;
}

.headline .headline_left a {
    color: white;
}

select {
    background-color: black;
    color: white;
    border: none;
    outline: none;
}

.navbar {
    position: absolute;
    top: 88px;
    left: 135px;
    width: 1170px;
    height: 38px;
    align-items: center;
    justify-content: space-between;
}

.navbar_left {
    justify-content: space-between;
    width: 675px;
    height: 24px;
}

.option {
    gap: 48px;
}

.option a {
    text-decoration: none;
    color: black;
}

.navbar_right {
    gap: 16px;
    width: 347px;
    height: 38px;
}

.search_left {
    width: 243px;
    background-color: rgb(192, 192, 192);
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
}
.search_left input{
    background: none;
    border: none;
    outline: none;
}

.search {
    gap: 34px;
}

.search_left input {
    border: none;
    outline: none;
}

.search_left img {
    width: 24px;
    height: 24px;
}

.search_right img {
    width: 24px;
    height: 24px;
}

.search_right {
    align-items: center;
    justify-content: space-between;
}

.zbody {
    flex-direction: column;
}

.top {
    justify-content: space-between;
    margin-top: 110px;
    gap: 10px;
}


.hr1 {
    position: relative;
    top: 70px;
}

.logo {
    align-items: center;
    gap: 24px;
}

.top_left {
    position: relative;
    left: 138px;
    z-index: 30;
    justify-content: space-between;
    flex-direction: column;
    width: 217px;
    height: 344px;
}

.hr2 {
    position: relative;
    right: 1070px;
    bottom: 38px;
    z-index: 1000;
    height: 384px;
}

.fashion {
    width: 98%;
    justify-content: space-between;
}

.fashion img {
    width: 10px;
    height: 10px;
}

.top_right {
    position: relative;
    left: 413px;
    color: white;
    position: absolute;
    width: 892px;
    height: 344px;
    background-color: rgb(0, 0, 0);
    align-items: center;
}

.top_right .content {
    width: 249px;
    height: 120px;
    font-size: x-large;
}

.phone {
    position: absolute;
    top: 16px;
    left: 396px;
}

.page {
    position: absolute;
    top: 319px;
    left: 353px;
    z-index: 100;
}

.biglogo {
    width: 294px;
    flex-direction: column;
    gap: 25px;
    margin-left: 64px;
}

.biglogo a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.shopnow {
    gap: 20px;
}

.body_one {
    flex-direction: column;
    gap: 20px;
    width: 1308px;
    height: 493px;
    margin-left: 135px;
}

.sale {
    width: 1170px;
    height: 103px;
}

.today {
    width: 600px;
    height: 103px;
    justify-content: space-between;
    align-items: end;
}

.today .Left>p {
    width: 100px;
    height: 40px;
    color: red;
    border-left: 20px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.flas_sale p {
    font-size: x-small;
}

.today .Left {
    width: 211px;
    height: 103px;
    flex-direction: column;
    justify-content: space-between;
}

.sale {
    justify-content: space-between;
    align-items: end;
}

.time_sale .element {
    font-size: large;
    justify-content: space-between;
}
.time_sale {
    width: 352px;
    height: 50px;
    justify-content: space-between;
    align-items: end;
}

.element h3 {
    font-size: x-large;
}

.list_sale {
    width: 1308px;
    height: 350px;
    gap: 30px;
}

.member {
    position: relative;
    width: 270px;
    height: 350px;
    background-color: rgb(255, 248, 248);
    flex-direction: column;
}

.member img {
    width: 150px;
    height: 150px;
    position: relative;
    left: 35px;
    top: 20px;
}

.kk img {
    width: 24px;
    height: 24px;
}

.star img {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 20px;
}

.star {
    width: 140px;
}

.kk {
    position: relative;
    left: 170px;
    bottom: 190px;
    flex-direction: column;
    gap: 10px;
}

.fill {
    background-color: white;
    flex-direction: column;
    gap: 10px;
}

.member>span {
    position: relative;
    bottom: 140px;
    left: 12px;
    width: 55px;
    height: 26px;
    background-color: red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zbody button {
    margin-bottom: 10px;
    width: 254px;
    height: 56px;
    font-size: large;
    border: none;
    margin-left: 603px;
    text-align: center;
    justify-content: center;
    background-color: red;
    color: white;
    border-radius: 5px;
}
.footer{
    width: 1440px;
    height: 440px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ftcontent{
    width: 1170px;
    height: 236px;
    display: flex;
    justify-content: space-between;
}
.Exclusive{
    color: white;
    width: 217px;
    height: 188px;
}
.Quick{
    color: white;
    width: 109px;
    height: 196px;
}
.support{
    color: white;
    width: 175px;
    height: 180px;
}
.ac{
    color: white;
    width: 123px;
    height: 236px;
}
.Dowload{
    color: white;
    width: 198px;
    height: 210px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.send{
    width: 217px;
    height: 48px;
    background-color: none;
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.Exclusive input{
    width: 130px;
    height: 24px;
    border: none;
    outline: none;
    background: none;
    color: white;

}

.intal{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.qr{
    display: flex;
    gap: 8px;
}
.two{
    font-size: x-small;
}
.member,button:hover{
    transform: scale(1.1); 
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}
a:hover{
    transform: scale(1.1); 
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid white;
}
.option a:hover{
    border-bottom: 1px solid rgb(0, 0, 0);
}
.hover:hover{
    background-color: rgb(191, 201, 201);
    transform: scale(1.1); 
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}